# Основные директории
node_modules/
dist/
.temp/
.cache/
package-lock.json

# Файлы операционной системы
.DS_Store
Thumbs.db
*.log

# IDE и редакторы
.vscode/
.idea/
*.sublime-project
*.vscode-test/

# Локальные конфигурации
.env
.env.local
.env.*.local

# Сборка и тесты
coverage/
reports/

# Другие файлы
*.tmp
*.swp
*.bak
*.orig

# Vitepress
docs/.vitepress/cache
docs/.vitepress/dist