:root {
  --vp-c-brand-1: oklch(51.4% 0.222 16.935);  /* Violet 700 */
  --vp-c-brand-2: oklch(58.6% 0.253 17.585); /* Violet 600 */
  --vp-c-brand-3: oklch(64.5% 0.246 16.439);  /* Violet 500 */

  /* Логотип в шапке */
  --vp-nav-logo-height: 40px;

  /* Эффект за изображением в хиро-секции */
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #f0b4d0 50%,
    #e6d2eb 50%
  );
  --vp-home-hero-image-filter: blur(68px);
}